---
layout: default
title: Escape Camper Vans
gallery:
  - image_path: /uploads/20190512_0160.jpg
vision:
  - image_path: /uploads/DSC03640.jpg
final:
  - image_path: /uploads/DSC03611.jpg
---

<div>
{% for gallery in page.gallery %}
<div>
  <div class="pitch editable" style="background-image:url('{{gallery.image_path}}')" ;>
    <div class="center pitch">
      <h1>Escape Camper Vans X Brylee Williamson</h1>
      <h2>Collaboration Proposal</h2>
    </div>
  </div>
</div>
{% endfor %}
</div>

<div class="padding">
  <h1 class="hey editable center">
    Help us say "Goodbye America" In style
  </h1>
</div>

<section class="grid">
  <div class="col-8_lg-8_md-12_sm-12">
    {% for vision in page.vision %}
    <div class="vision editable" style="background-image:url('{{vision.image_path}}')" ;>
      
    </div>
    {% endfor %}
  </div>
  <div class="col-4_lg-4_md-12_sm-12 padding">
             <div class="grid">
  <h1 class=" col-12 hey editable center ">
    We've got a vision
  </h1>
    <h2 class=" col-12 hey editable center">
      As we say goodbye to America and plan a journey to Japan, help us say Goodbye on one last escape.&nbsp;<br />We plan to travel across the Pacific Northwest to see all it has to offer.<br />We would love to explore in camper van style!
    </h2> </div>
  </div>
</section>

<div class="grid editable center padding stats">
  <div class="col-12">
    <h2>A few little stats.</h2>
    <hr />
  </div>
  <div class="col-3_xs-12">
    <h3>22.1k</h3>
    <p>Followers on instagram</p>
  </div>
  <div class="col-3_xs-12">
    <h3>1.5k</h3>
    <p>Monthly Blog Traffic</p>
  </div>
  <div class="col-3_xs-12">
    <h3>4%</h3>
    <p>Engagement Rate</p>
  </div>
  <div class="col-3_xs-12">
    <h3 class="e">20K</h3>
    <p>Total Reach</p>
  </div>
</div>


<section class="grid padding">
  <div class=" col-4_lg-4_md-12_sm-12">
    <h2 class=" hey editable center">
      Don't just get your average one or two Instagram posts, get an entire story told.<br />As a content creation couple, we go above and beyond to provide high quality content for each brands personal use as well as our own.<br /><br />I mean just look at this digital pitch! Have you ever been sent an entire website?!
    </h2>
  </div>

  <div class="col-8_lg-8_md-12_sm-12">
    {% for final in page.final %}
    <div class="vision editable" style="background-image:url('{{final.image_path}}')" ;>
      
    </div>
    {% endfor %}
  </div>

</section>

<section class="ourpitch grid padding">
  <div class="col-6">
    <h2 class=" hey editable center">
      Our Pitch
    </h2>
  </div>
  <div class="col-6 editable">
    <p>I've worked with many brands and have many testimonials under my belt that can be seen&nbsp;<em><a target="_blank" href="https://brylee.letscollab.io/">here</a></em>&nbsp;</p>
    <p>&nbsp;</p>
    <ul>
      <li>story highlights throughout the trip</li>
      <li>dedicated blog post in each location with photos of escape vans.&nbsp;</li>
      <li>high quality photos provided for your own use</li>
      <li>SEO dedicated posts displayed on Pinterest, Facebook, and Linked In</li>
      <li>Multiple Instagram posts throughout and after the trip.</li>
      <li>Short youtube, IGTV video provided for your use, as well as our own</li>
      <li>A detailed review about our experience as a couple on their honeymoon and last journey before we get stationed in Japan</li>
      <li>The opportunity to build a long lasting relationship with content creators who go above and beyond</li>
    </ul>
  </div>
  </section>

  <section class="padding inbox center">
    <h1 class="editable">
      Slide into my Inbox
    </h1>
    <h2 class="editable">
      Lets get the ball rolling!
    </h2>
    <h2 class="padding"> business.bryleewilliamson@gmail.com </h2>
      </section>
