---
layout: default
title: Modeling Pitch
gallery:
  - image_path: /uploads/magic-moon07.jpg
vision:
  - image_path: /uploads/goldies-5.jpg
final:
  - image_path: /uploads/red-dress-3.jpg
---

<div>
{% for gallery in page.gallery %}
<div>
  <div class="pitch editable" style="background-image:url('{{gallery.image_path}}')" ;>
    <div class="center pitch">
      <h1>Content Creation with Brylee Williamson</h1>
      <h2>Sponsorship Proposal</h2>
    </div>
  </div>
</div>
{% endfor %}
</div>

<div class="padding">
  <h1 class="hey editable center">
    Let me create magic!
  </h1>
</div>

<section class="grid">
  <div class="col-8_lg-8_md-12_sm-12">
    {% for vision in page.vision %}
    <div class="vision editable" style="background-image:url('{{vision.image_path}}')" ;>
      
    </div>
    {% endfor %}
  </div>
  <div class="col-4_lg-4_md-12_sm-12 padding">
             <div class="grid">
  <h1 class=" col-12 hey editable center ">
    I have a vision
  </h1>
    <h2 class=" col-12 hey editable center">
      As a local model in Los Angeles and Ventura, I have the skills to create content to promote your brand across social media!
    </h2> </div>
  </div>
</section>

<div class="grid editable center padding stats">
  <div class="col-12">
    <h2>A few little stats.</h2>
    <hr />
  </div>
  <div class="col-3_xs-12">
    <h3>20k</h3>
    <p>Followers on instagram</p>
  </div>
  <div class="col-3_xs-12">
    <h3>5.8k</h3>
    <p>Monthly Blog Traffic</p>
  </div>
  <div class="col-3_xs-12">
    <h3>4%</h3>
    <p>Engagement Rate</p>
  </div>
  <div class="col-3_xs-12">
    <h3 class="e">30K</h3>
    <p>Total Reach</p>
  </div>
</div>


<section class="grid padding">
  <div class=" col-4_lg-4_md-12_sm-12">
    <h2 class=" hey editable center">
      Monthly Content Proposal
    </h2>
  </div>

  <div class="col-8_lg-8_md-12_sm-12">
    {% for final in page.final %}
    <div class="vision editable" style="background-image:url('{{final.image_path}}')" ;>
      
    </div>
    {% endfor %}
  </div>

</section>

<section class="ourpitch grid padding">
  <div class="col-6">
    <h2 class=" hey editable center">
      Deliverables<br /><br /><br /><br /><br />** Any additional Photos can be requested for an extra fee**<br />&nbsp;
    </h2>
  </div>
  <div class="col-6 editable">
    <p>I've worked with many brands and have many testimonials under my belt that can be seen&nbsp;<em><a target="_blank" href="https://brylee.letscollab.io/">here</a></em>&nbsp;</p>
    <p>&nbsp;</p>
    <p>I have also been featured across News Publications for my modeling.&nbsp;</p>
    <p>&nbsp;</p>
    <p>Worked with brands such as Cropp Clothing, Hoaka etc.</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>I have 3 tiered packages</p>
    <ol>
      <li>&nbsp; 1 Instagram Post : $100</li>
      <li>&nbsp; 1 Instagram Post per outfit, 1 High quality photo per outfit (multiple up to 3 high quality photos): $300&nbsp;</li>
      <li>&nbsp; 3 Instagram Posts all together, 5 High quality photos: $500</li>
    </ol>
    <p>&nbsp;</p>
    <ul>
      <li>I also have ad ons to include, Instagram stories, twitter posts, dedicated blog posts with SEO and Pinterest additions, youtube videos, and Facebook promotion.</li>
    </ul>
  </div>
  </section>

  <section class="padding inbox center">
    <h1 class="editable">
      Slide into my Inbox
    </h1>
    <h2 class="editable">
      Lets get the ball rolling!
    </h2>
    <h2 class="padding"> business.bryleewilliamson@gmail.com </h2>
      </section>
