---
layout: default
models:
  - featured-image: /images/front_images/headshot-1.jpg
  - featured-image: /images/front_images/headshot-2.jpg
  - featured-image: /images/front_images/headshot-3.jpg
  - featured-image: /images/front_images/headshot-4.jpg
  - featured-image: /images/front_images/headshot-5.jpg
  - featured-image: /images/front_images/bodyshot-1.jpg
  - featured-image: /images/front_images/headshot-6.jpg
title: Brylee Williamson
---

<section class="grid blog-blocks">
    <!-- to put an image as the entire background use div use the name of the photo in css -->
    {% for post in site.posts limit: 4 %}
    <div class="col-3_md-6_sm-12">
      <a href="{{post.url}}">
        <div class="blog-loop-background" style="background-image:url('{{post.featured-img}}')"></div>
        <div class="blog-loop-title-text">
          <h2> {{post.title}} </h2>
          <h4> {{post.category}} </h4>
          <h4> {{ post.date | date: "%B %-d %Y"}} </h4>
        </div>
        </a>
      </div>
  {% endfor %}
  </section>

  <section class="grid">
      <h3 class="col-12 titles"> Model | Actress | Content Creator | Web Developer
      </h3>
      </section>
      <section class="grid-center">
    {% for image in page.models %}
    <div class="col-3_md-6">
        <div class="index-model-photo" style="background-image:url('{{image.featured-image}}')"></div>
        </div>
    {% endfor %}
</section>

  <section class="index-newsletter">
    <h3 class="newsletter-h3"> Stay in Touch </h3>
      <!-- I want to link my newsletter to my already existing mailchimp account -->
    <form class="newsletter">
      <input class="news-letter center" type="text" name="first-name" placeholder="first name">
      <input class="news-letter center" type="text" name="last-name" placeholder="last name">
      <input class="news-letter center" type="email" name="email" placeholder="email">
      <input class="button news-letter center" type="submit" value="Join The List">
    </form>
  </section>
