---
layout: default
title: Brylee Williamson
gallery:
- image_path: /uploads/modeling/modeling-05.jpg
caption:
- image_path: /uploads/modeling/modeling-14.jpg
caption:
- image_path: /uploads/modeling/modeling-42.jpg
caption:
- image_path: /uploads/modeling/modeling-45.jpg
caption:
- image_path: /uploads/modeling/modeling-52.jpg
caption:
---
<section class="grid editable ">
  <!-- this is the blog section-->
  <div class="col-12_lg-12_md-12_sm-12 grid">
    {% for post in site.posts limit: 12 %}
    <div class="col-4_lg-6_md-12_sm-12 center padding">
      <a href="{{post.url}}">
        <div class="blog-featured" style="background-image:url('{{post.featured-img_path}}')"> </div>
        <div class="blog-titles">
          <h2> {{post.title}} </h2>
          <h6> {{post.category}} </h6>
          <h6> {{post.date | date: "%B %-d %Y"}} </h6>
        <p>{{post.excerpt}}</p>

        </div>

      </a>
    </div>
    {% endfor %}
  </div>


  <!-- <div class="col-3_lg-3_md-12_sm-12">
    {% for gallery in page.gallery limit:12 %}
    <div>
      <div class="gallery-item editable" style="background-image:url('{{gallery.image_path}}')" ;>

      </div>
      {% if page.gallery-caption %}

      <h6 class="caption editable"> {{gallery.caption}} </h6>

      {% endif %}
    </div>
    {% endfor %}
  </div> -->



</section>
