---
layout: default
models:
  - featured-image: /images/front_images/headshot-1.jpg
  - featured-image: /images/front_images/headshot-2.jpg
  - featured-image: /images/front_images/headshot-3.jpg
  - featured-image: /images/front_images/headshot-4.jpg
  - featured-image: /images/front_images/headshot-5.jpg
  - featured-image: /images/front_images/bodyshot-1.jpg
  - featured-image: /images/front_images/headshot-6.jpg
title: Brylee Williamson
---

<section class="grid blog-blocks">
    <!-- to put an image as the entire background use div use the name of the photo in css -->
    {% for post in site.posts limit: 4 %}
    <div class="col-3_md-6_sm-12">
      <a href="{{post.url}}">
        <div class="blog-loop-background" style="background-image:url('{{post.featured-img-path}}')"></div>
        <div class="blog-loop-title-text">
          <h2> {{post.title}} </h2>
          <h4> {{post.category}} </h4>
          <h4> {{ post.date | date: "%B %-d %Y"}} </h4>
        </div>
        </a>
      </div>
  {% endfor %}
  </section>

  <section class="grid">
      <h3 class="col-12 titles editable"> Model | Actress | Content Creator | Web Developer
      </h3>
      </section>
      <section class="grid-center">
    {% for image in page.models %}
    <div class="col-3_md-6 editable">
        <div class="index-model-photo" style="background-image:url('{{image.featured-image}}')"></div>
        </div>
    {% endfor %}
</section>

  <section class="index-newsletter newsletter">
<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
<form action="https://bryleewilliamson.us20.list-manage.com/subscribe/post?u=7b7378dc330e76c92013c99f0&amp;id=eb7c4f000a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h3 class="newsletter-h3"> Stay in Touch </h3>
<div class="mc-field-group">
	<input  type="text" value="" name="FNAME" class="news-letter center" placeholder="First Name" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<input type="text" value="" name="LNAME" class="news-letter center" placeholder="Last Name" id="mce-LNAME">
</div>
<div class="mc-field-group">
	<input type="email" value="" name="EMAIL" class="required email news-letter center" placeholder="Email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7b7378dc330e76c92013c99f0_eb7c4f000a" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Join The List" name="subscribe" id="mc-embedded-subscribe" class="button news-letter center"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
  </section>
