---
layout: default
title: Pitch Collaboration
gallery:
- image_path: /uploads/maya-bay-5.jpg
vision:
- image_path: /uploads/Cherry-blossom-1.jpg
final:
- image_path: /uploads/maya-bay-5.jpg
---

{% for gallery in page.gallery %}
<div>
  <div class="pitch editable" style="background-image:url('{{gallery.image_path}}')" ;>
    <div class="center pitch">
      <h1>Brand X Collaboration</h1>
      <h2>Collaboration Proposal</h2>
    </div>
  </div>
</div>
{% endfor %}

<div>
  <h1 class="hey editable center">
    Oh hey! Lets make some magic!
  </h1>
</div>

<section class="grid">
  <div class="col-8">
    {% for vision in page.vision %}
    <div class="vision editable" style="background-image:url('{{vision.image_path}}')" ;>

    </div>
    {% endfor %}
  </div>
  <div class=" col-4">
    <h1 class=" hey editable">
      We've got a vision
    </h1>
    <h2 class=" hey editable">
      This is our vision so here is a bunch of blah blah till then
    </h2>
  </div>
</section>
<div class="grid editable center">
  {% include stats.html %}
</div>


<section class="grid">
  <div class=" col-4">
    <h2 class=" hey editable"> one last cool attempt to keep them </h2>
  </div>
  <div class="col-8">
    {% for vision in page.final %}
    <div class="vision editable" style="background-image:url('{{final.image_path}}')" ;> </div>
    {% endfor %}
  </div>

</section>
