---
layout: default
title: oasisatdeathvalley
gallery:
  - image_path: /uploads/d-v-1.jpg
vision:
  - image_path: /uploads/d-v-2.jpeg
final:
  - image_path: /uploads/d-v-3.jpeg
---

<div>
{% for gallery in page.gallery %}
<div>
  <div class="pitch editable" style="background-image:url('{{gallery.image_path}}')" ;>
    <div class="center pitch">
      <h1>Oasis X Brylee Williamson</h1>
      <h2>Collaboration Proposal</h2>
    </div>
  </div>
</div>
{% endfor %}
</div>

<div class="padding">
  <h1 class="hey editable center">
    Oh hey! Lets make some magic!
  </h1>
</div>

<section class="grid">
  <div class="col-8_lg-8_md-12_sm-12">
    {% for vision in page.vision %}
    <div class="vision editable" style="background-image:url('{{vision.image_path}}')" ;>
      
    </div>
    {% endfor %}
  </div>
  <div class="col-4_lg-4_md-12_sm-12 padding">
             <div class="grid">
  <h1 class=" col-12 hey editable center ">
    We've got a vision
  </h1>
    <h2 class=" col-12 hey editable center">
      My Fiance and I want to tell a story about a newly engaged couple, sharing their first outing throughout Death Valley and the beautiful Hotel.
    </h2> </div>
  </div>
</section>

<div class="grid editable center padding stats">
  <div class="col-12">
    <h2>A few little stats.</h2>
    <hr />
  </div>
  <div class="col-3_xs-12">
    <h3>23.3</h3>
    <p>Followers on instagram</p>
  </div>
  <div class="col-3_xs-12">
    <h3>1.5k</h3>
    <p>Monthly Blog Traffic</p>
  </div>
  <div class="col-3_xs-12">
    <h3>4%</h3>
    <p>Engagement Rate</p>
  </div>
  <div class="col-3_xs-12">
    <h3 class="e">25K</h3>
    <p>Total Reach</p>
  </div>
</div>


<section class="grid padding">
  <div class=" col-4_lg-4_md-12_sm-12">
    <h2 class=" hey editable center">
      Not like any other "influencer" We offer unique photos that show authenticity and creativity, not just a single Instagram Post
    </h2>
  </div>

  <div class="col-8_lg-8_md-12_sm-12">
    {% for final in page.final %}
    <div class="vision editable" style="background-image:url('{{final.image_path}}')" ;>
      
    </div>
    {% endfor %}
  </div>

</section>

<section class="ourpitch grid padding">
  <div class="col-6">
    <h2 class=" hey editable center">
      Our Pitch
    </h2>
  </div>
  <div class="col-6 editable">
    <p>I've worked with many brands and have many testimonials under my belt that can be seen&nbsp;<em><a target="_blank" href="https://brylee.letscollab.io/">here</a></em>&nbsp;</p>
    <ul>
      <li>5 High quality photos directly taken&nbsp; throughout the hotel to show the Oasis unique beauty it has to offer</li>
      <li>10 High quality photos throughout Death Valley for your own personal use</li>
      <li>Instagram stories throughout our stay</li>
      <li>3 Unique Instagram posts to share our getaway&nbsp;</li>
      <li>2 different entire SEO dedicated blog posts: one for the unique hotel stay, one for traveling through death valley and how staying at your facilities helped to keep us rested for our early morning excursions</li>
      <li>cross promotion across twitter, facebook, pinterest</li>
      <li>IRL live stream on twitch</li>
      <li>Unique you tube video.&nbsp;</li>
    </ul>
  </div>
  </section>

  <section class="padding inbox center">
    <h1 class="editable">
      Slide into my Inbox
    </h1>
    <h2 class="editable">
      Lets get the ball rolling!
    </h2>
    <h2 class="padding"> business.bryleewilliamson@gmail.com </h2>
      </section>
