/* Universal reset always add this to each site  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 2px solid black; */
}

body {
  font-family: 'Raleway', sans-serif;
}

img {
  max-width: 100%
}

/*this makes links inherit the color of their parent  */
a {
  color: inherit;
  text-decoration: none;
}

/* add this to every gridlex site */
[class*=grid] {
  margin: 0;
}

[class*=col-3] {
  padding: 0;
}

[class*=col-4] {
  padding: 0;
}

[class=*col-5] {
  padding: 0;
}

.padding {
  padding: 2%;
}

/*text edits   */
.center {
  text-align: center;
  font-weight: 300;
}

h1 {
  font-size: 5rem;
  color: white;
  font-weight: 300;
  background-color: rgba(227, 227, 227, 0.5);
}

h2 {
  font-size: 1.5rem;
  color: black;
  font-weight: 300;
}

h5 {
  font-size: 1.2rem;
}

/* logo header banner */
.logo {
  background-image: url("/uploads/logo.jpg");
  background-position: center;
  background-size: cover;
  min-height: 110vh;
}

.logo h2 {
  color: white;
  background-color: rgba(227, 227, 227, 0.5);
}

.sm-links {
  font-size: 1.5rem;
  color: white;
  background-color: rgba(227, 227, 227, 0.5);
}

.sm-links a {
  margin-left: 1.5%;
  color: black;
}

.navbar a {
  font-size: 1.5rem;
  margin-left: 3%;
}

/*index blog posts */
.blog-featured {
  background-image: url('{{post.featured-img_path}}');
  background-position: center;
  background-size: cover;
  height: 25vw;
  width: 100%;
}

.blog-titles {
  margin-top: -1.78rem;
  background-color: white;
  width: 70%;
  margin-left: 15%;
}

/* newsletter sign up   */
.news-letter {
  display: block;
  margin: 1.9% auto;
  width: 15rem;
  min-height: 10vh;
  border: 0 solid black;
  border-bottom: 1px solid black;
}

.button {
  width: 10rem;
  font-family: 'Raleway', sans-serif;
  background-color: black;
  color: white;
  border: none;
}

/* pitch */
.pitch {
  background-position: center;
  background-size: cover;
  height: 80vh;
  width: 100%;
  color: white;
  font-weight: 300;
}

.pitch h1 {
  background-color: inherit;
}

.pitch h2 {
  color: white;
}

.hey {
  color: black;
  height: 30vh;
  background-color: white;
}
.vision {
  background-position: center;
  background-size: cover;
  height: 80vh;
  background-repeat:no-repeat;
}
 .stats, .inbox {
   background-color: rgba(227, 227, 227, 0.5);}
.inbox h1 {
  color: black;
  background-color: inherit;
}
