/* Universal reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 2px solid black; */
}

body {
  font-family: 'Raleway', sans-serif;
}

img {
  max-width: 100%
}

a {
  color:inherit;
  text-decoration: none;
}
/*this makes links inherit the color of their parent  */
/* ALWAYS DO THIS TO MAKE LIFE EASIER */
/* add this to every gridlex site */
[class*=grid] {
  margin: 0;
}

/* CSS Style for Index Page */
h1{
  font-size: 2.34rem;
  text-align: center;
  padding: 5%;
  font-weight:300;
}
h2 {
  text-align: center;
  font-weight: 300;
}
.nav-bar-titles a {
  font-size: 1rem;
  padding: 2.5%;
  text-decoration: none;
  color: black;
  display:inline-block;
}


.news-letter, .sm-links i {
  font-size: 1.3rem;
  padding: 0.8% 1.35rem;
  color: black;
}
.titles, h3 {
  font-size: 2rem;
  text-align:center;
  font-weight: 300;
  padding: 2%;
}

.center {
  text-align: center;
}
.newsletter input {
  display: block;
  margin: 1.9% auto;
  width: 15rem;
  min-height: 1vh;
  border: 0 solid black;
  border-bottom: 1px solid black;
  padding: 1%;
}

.newsletter .button {
  width: 10rem;
  font-family: 'Raleway', sans-serif;
  background-color:  black;
  color: white;
  border: none;
  padding-top: 1%;
}
.newsletter h3 {
  padding-bottom: 1%
}
.index-model-photo {
  background-position: center;
  background-size: cover;
  height: 30vw;
  border: 4px solid white;
}
.blog-loop-background {
  background-position: center;
  background-size:cover;
  height:22vw;
}

.blog-banner {
  background-position: center;
  background-size:cover;
  height:25vw;
  width: 60vw;
display: block;
margin: auto;
}

.blog-loop-title-text {
  margin-top: -1.78rem;
  background-color: white;
  width: 55%;
  margin-left: 20%;
  font-weight:300;
  text-align:center;
  padding: 3%;

}
/*  this is to make the bottom overlap the top */


header {
  padding-bottom: 5%;
}
footer{
padding-top: 10% }
.newsletter-h3 {
  padding-bottom: 1%
}
.sidebar-blog-loop-background {
  margin: 8%;
  padding: 3%;
  background-size:cover;
  background-position: center;
}
.overlay {
  background-color: rgba(227,227,227,0.5);
}
.sidebar h4 {
  text-align:center;
  padding:2%;
}
h4 {
  padding: 1%;
  font-weight:300;
}
.padding-bottom-10 {
  padding-bottom: 10%;
}
.contactform input, textarea {
  border: 1px solid black;
padding: 3%;
margin-bottom: 7%;
width: 100%;
  }
input.submit {
  width: 50%;
  margin: auto;
  display: block;
padding: 3%;
border-radius: 0.5rem;
font-size: 1rem;
background-color: #68B0AB;
color: white;
}
.margin-top-10 {
  margin-top:10%;
}
.about-me-img {
  background-image: url("/images/about-me.jpg");
  background-position: center;
  background-size:cover;
  height:30vw;
  width: 35vw;
display:block;
margin:auto;
margin-top: 3vw;
}
.about-me {
  display:block;
  margin:auto;
  text-align:center;
}
.aboutme {
  font-size: 2.5rem;
}
.about-me p {
  padding: 3%;
  width: 40vw;
  display:block;
  margin:auto;
}
.press a {
  text-align:center;
  display:block;
  padding: 3%;
}
.margin-5 {
  margin:5%
}

.blog-post-junk {
  padding:0% 3%;
}


@media all and (max-width: 768px) {
  .blog-loop-title-text {
    margin-top: 0;
    width: 100%;
    margin-left:0;
  }
  .blog-loop-background {
    height:50vw;
  }
  .index-model-photo {
    height:60vw;
  }
  .col-3_md-6:nth-child(n+5) .index-model-photo {
    display:none;
  }
}
@media all and (max-width: 1024px){
  .col-3_md-6:nth-child(n+5) .index-model-photo {
    display:none;}
    .index-model-photo {
      height:60vw;}
    }
.margin-auto {
  margin:auto;
}
.masonry-item {
  height: 20rem;
width: 20rem;
display: inline-block;
background-position: center;
background-size: cover;
border: 3px solid black;
}
