<nav class="sm-links center">
<a target="_blank" href="https://instagram.com/brylee.williamson">
  <i class="fab fa-instagram"></i></a>
<a target="_blank" href="https://www.facebook.com/bryleew/">
  <i class="fab fa-facebook"></i></a>
<a target="_blank" href="https://www.pinterest.com/brylee_williamson/">
  <i class="fab fa-pinterest"></i></a>
<a target="_blank" href="https://twitter.com/brywilliamson_">
  <i class="fab fa-twitter"></i></a>
<a target="_blank" href="https://www.twitch.tv/brylee_williamson">
  <i class="fab fa-twitch"></i></a>
</nav>
