<div class="col-12">
  <h2 class=" editable">A few little stats.</h2>
  <hr />
</div>
<div class="col-3_xs-12">
  <h3 class=" editable">
    20.1
  </h3>
  <p class="editable"> Followers on instagram </p>
</div>
<div class="col-3_xs-12">
  <h3 class=" editable"> 1.5k </h3>
  <p class="editable"> Monthly Blog Traffic</p>
</div>
<div class="col-3_xs-12">
  <h3 class=" editable"> 4% </h3>
  <p class="editable"> Engagement Rate </p>
</div>
<div class="col-3_xs-12">
  <h3 class="e editable"> 20K </h3>
  <p class="editable"> Total Reach </p>
</div>
