<! <!DOCTYPE html>
<html>
<!--this is the head of the website where any link styling goes  -->

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135468541-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-135468541-1');
</script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/lightbox/css/lightbox.css" rel="stylesheet">


  <title>{{page.title}}</title>

  <link href="/style.css" rel="stylesheet">
</head>

<!-- This is the body of the index page -->

<body>
  <header>
    <section class="grid">
      <div class="col-4_md-12_sm-12">
        <div class="logo"> </div>
        <nav class="sm-links center">
        <a target="_blank" href="https://instagram.com/brylee_williamson">
          <i class="fab fa-instagram"></i></a>
        <a target="_blank" href="https://www.facebook.com/bryleew/">
          <i class="fab fa-facebook"></i></a>
        <a target="_blank" href="https://www.pinterest.com/brylee_williamson/">
          <i class="fab fa-pinterest"></i></a>
        <a target="_blank" href="https://twitter.com/brywilliamson_">
          <i class="fab fa-twitter"></i></a>
        <a target="_blank" href="https://www.twitch.tv/brylee_williamson">
          <i class="fab fa-twitch"></i></a>
        </nav>
      </div>

<div> class="col-3_md-12_sm-12 icon-photo" </div>

      <div>
        <nav class="col-5-middle_md-12_sm-12 nav-bar-titles center">
          <a href="/index"> Home </a>
          <a href="/about"> About </a>
          <a href="/modeling"> Portfolio </a>
          <!-- <a href="/actress"> Actress </a> -->
          <a target="_blank" href="https://brylee.letscollab.io"> Work With Me  </a>
          <!-- <a href="/blog"> Blog </a> -->
        </nav>
        <div> <p> contact:business.bryleewilliamson@gmail.com </p> </div>
      </div>
    </section>
  </header>

{{content}}




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js">
</script>
<script src="/javascript/main.js"> </script>
<script src="/lightbox/js/lightbox.js"></script>
<script src="https://snapwidget.com/js/snapwidget.js"></script>

<footer>
  <iframe src="https://snapwidget.com/embed/680384" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border: none; overflow: hidden; width: 100%; height: 508px;" id="iFrameResizer0"></iframe>
</footer>

</body>
<!-- header and footer will be a layout -->
