<!Doctype html>
<html>

<head>
  <!--this is the head of the website where any link styling goes  -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135468541-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-135468541-1');
  </script>
  <!-- gridlex -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
  <!-- font -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <title>{{page.title}}</title>
  <!-- css style sheet link -->
  <link href="/style.css" rel="stylesheet">

</head>
<header class="grid">
  <div class="col-12 logo">
    <span> <h1 class="center"> Brylee Williamson </h1></span>
    <span> <h2 class="center"> Model | Storyteller | Photographer | Web Developer </h2>
     </span>
     <span> <h2 class=" sm-links center"> Where Else Can Ya Find Me? </h2>
       {% include socialmedia.html %} </span>
  </div>
  <div class="col-12 center"> {% include nav-bar.html %} </div>
</header>
{{content}}

<footer>
  <section class="editable padding">
<div class="mailchimp"> {% include mailchimp.html %} </div>
</section>
  <div>
    <!-- SnapWidget -->
    <script src="https://snapwidget.com/js/snapwidget.js"></script>
    <iframe src="https://snapwidget.com/embed/687799" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
    <div style="font:10px/14px 'Roboto','Helvetica Neue',Arial,Helvetica,sans-serif;font-weight:400;width:100%;text-align:right"><a href="https://snapwidget.com" style="color:#777;text-decoration:none;">SnapWidget · Instagram Widget</a></div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js">
  </script>
  <script src="/javascript/main.js"> </script>
</footer>

</html>
