---
layout: default
---
<!--you need to style this shit and then go back and check because you fucked up the headings good job  -->
<section class="grid">
  <div class="col-9_lg-12_m-12_sm-12">
    <div class="blog-featured" style="background-image:url('{{post.featured-img_path}}')"> </div>

      <div class="blog-titles">
        <h2> {{post.title}} </h2>
        <h6> {{post.category}} </h6>
        <h6> {{post.date | date: "%B %-d %Y"}} </h6>
    </div>
    <div class="post-content">
      {{content}}
      </div>
  </div>
  </section>
