---
layout: default
---
<!--you need to style this shit and then go back and check because you fucked up the headings good job  -->
<section class="grid">
  <div class="col-9_lg-12_m-12_sm-12">
    <div class="blog-banner" style="background-image:url('{{page.featured-img_path}}')"> </div>
    <div class="blog-loop-title-text">
      <h3> {{page.title}} </h3>
      <h4> {{page.category}} </h4>
      <h4> {{ page.date | date: "%B %-d %Y"}} </h4>
    </div>
    <div class="post-content">
      {{content}}
      </div>
  </div>
  </section>
