---
layout: default
---
<!--you need to style this shit and then go back and check because you fucked up the headings good job  -->
<section class="grid">
  <div class="col-9_sm-12 blog-post-junk">
    <div class="blog-banner" style="background-image:url('{{page.featured-img-path}}')"> </div>
    <div class="blog-loop-title-text">
      <h2> {{page.title}} </h2>
      <h4> {{page.category}} </h4>
      <h4> {{ page.date | date: "%B %-d %Y"}} </h4>
    </div>
    {{content}}
  </div>

  <!--could i make this an include for multiple pages  -->
  <div class="col-3_sm-12 sidebar">
    <h2> Recent Posts </h2>
    {% for post in site.posts limit: 3 %}
    <a href="{{post.url}}">
      <div class="sidebar-blog-loop-background" style="background-image:url('{{post.featured-img-path}}')">
        <div class="overlay">
        <h3> {{post.title}} </h3>
        </div>
      </div>
    </a>

    {% endfor %}
    <h2 class="padding-bottom-10"> Categories </h2>
    {% for category in site.categories %}
  <a href="/{{category[0]}}"><h4>{{ category[0] }}</h4> </a>

{% endfor %}
    <h2 class="padding-bottom-10  margin-top-10"> Work Together </h2>
    <form action="https://formspree.io/business.bryleewilliamson@gmail.com" method="POST" class="contactform">
      <input type="text" name="first-name" placeholder="first name">
      <input type="email" name="email" placeholder="email">
      <input type="text" name="subject" placeholder="subject">
      <textarea name="message" id="message" rows="10" placeholder="Can't wait to hear from you"></textarea>
      <input type="submit" value="Submit" class="submit">
    </form>
  </div>
</section>
